

h1{
    color: rgb(197, 0, 252); 
    text-align: center;
}

body{
    background: #f5e1e1;
    color: azure;
    font-family: "Montserrat Alternates", serif;
}

a{
    color: rgb(5, 138, 255);
}

.blue_button{
    color: blue;
    background-color: aliceblue;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    border: 3px solid rgb(203, 12, 9);
    border-radius: 10px;
    transition: 0.3s;
}

.blue_button:hover{
    color: black;
    background: #ee0707;
}
nav{
    background: #46ed59;
}
/* .carousel-inner{  */
    


.navbar-brand{
    color: blueviolet; 
}
.card{
    color: rgb(61, 3, 71);
}
